.row
  .col.col-md-8.offset-md-2
    .card
      .card-header
        %h4= t('.sign_in', default: 'Sign in')
      .card-body
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :floating_labels_form, html: {role: 'form'}) do |f|
          = f.input :login, autofocus: true, label: t('.login_placeholder', default: 'Name or eMail'), required: true, input_html: { autocomplete: "section-#{ENV['USER']}-kg-login username" }
          = f.input :password, required: true, input_html: { autocomplete: "section-#{ENV['USER']}-kg-login current-password" }
          = f.submit  t('.sign_in_button', default: 'Sign in'), class: 'btn btn-outline-primary btn-block col-md-10 offset-md-1'
      .card-footer

