-# debug assigns.inspect
= simple_form_for(@credential) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :url
    = f.input :login
    -unless @credential.id.blank?
      = f.input :secured
      -if @credential.secured && @credential.password.blank?
        = f.input :password, required: true, autofocus: true
      -else
        = f.input :password
      -if @credential.secured && @credential.password.blank?
        = f.input :document, as: :password, disabled: true
      -elsif !@credential.document.blank?
        = f.input :document
    = f.input :comment

  .form-actions
    -if !@credential.id.blank? && @credential.secured
      = f.button :submit, name: :decrypt, value: t('.actions.decrypt', default: 'Decrypt Document')
    = f.button :submit
