-#= debug assigns.inspect
= simple_form_for(@credential, wrapper: :floating_labels_form, html: { autocomplete: :off }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    %div{ data: { controller: 'url-opener' }, class: 'position-relative' }
      = f.input :url,
        input_html: { data: { 'url-opener-target': 'input' } }
      %a{ href: '#',
      target: '_blank',
      class: 'd-none btn btn-sm btn-outline-none position-absolute top-0 end-0 me-4 mt-3',
      data: { 'url-opener-target': 'link' }
      }
        %i.bi.bi-box-arrow-up-right{ aria: { hidden: 'true' } }
    %div{ data: { controller: 'clipboard', 'clipboard-success-content-value': t('.copied', default: 'Copied') }, class: 'position-relative' }
      = f.input :login,
        input_html: { data: { 'clipboard-target': 'source' } }
      = button_tag type: 'button',
        data: { action: 'clipboard#copy', 'clipboard-target': 'button' },
        class: 'btn btn-sm btn-outline-none position-absolute top-0 end-0 me-4 mt-3' do
        %i.bi.bi-clipboard{ 'aria-hidden': true }
        %span.visually-hidden= t('.copy', default: 'Copy to clipboard')
    -unless @credential.new_record?
      %div{ data: { controller: 'reveal', 'reveal-hidden-class': 'd-none' } }
        = f.input :secured, input_html: { data: { action: 'click->reveal#toggle' } }
        = f.input :password,
          required: true,
          input_html: { autocomplete: "section-#{ENV['USER']}-kg-#{dom_id(@credential)} current-password" },
          wrapper_html: { data: { 'reveal-target': 'item' }, class: @credential.secured ? '' : 'd-none' }
        -if @credential.secured && @credential.password.blank?
          = f.input :document, disabled: true
        -else
          %div{ data: { controller: 'clipboard', 'clipboard-success-content-value': t('.copied', default: 'Copied') }, class: 'position-relative' }
            = f.input :document,
              input_html: { data: { controller: 'textarea-autogrow', 'clipboard-target': 'source' } }
            = button_tag type: 'button',
              data: { action: 'clipboard#copy', 'clipboard-target': 'button' },
              class: 'btn btn-sm btn-outline-none position-absolute top-0 end-0 me-4 mt-1' do
              %i.bi.bi-clipboard{ 'aria-hidden': true }
              %span.visually-hidden= t('.copy', default: 'Copy to clipboard')
    = f.input :comment, input_html: { data: { controller: 'textarea-autogrow' } }
    -if current_user.access_groups.count > 1
      = f.association :access_group, collection: current_user.access_groups, include_blank: false, as: :radio_buttons, wrapper: :horizontal_collection_inline
    -else
      = f.hidden_field :access_group_id

  .form-actions
    -if !@credential.new_record? && @credential.secured
      = button_tag type: :submit, name: :decrypt, value: t('.actions.decrypt', default: 'Decrypt Password'), class: 'btn btn-outline-primary float-start' do
        %i.bi.bi-unlock{ 'aria-hidden': true }
        = t('.actions.decrypt', default: 'Decrypt Password')
    .inline-flex.float-end
      = f.button :button, t('.reset', default: 'Reset'), class: 'btn btn-outline-warning', type: :reset, as: :button
      = link_to t('.cancel', default: 'Cancel'), credentials_path, class: 'btn btn-outline-secondary', type: :button
      = button_tag type: :submit, class: 'btn btn-primary' do
        -# %i.bi.bi-save2{ 'aria-hidden': true }
        %i.bi.bi-floppy{ 'aria-hidden': true }
        = t('.actions.submit', default: 'Update Credential')
