.page-header
  %h1
    = t('.header', default: 'Credentials')
    %smaller.float-end
      = link_to new_credential_path, class: 'btn btn-outline-primary', type: :button do
        %i.bi.bi-journal-plus{ 'aria-hidden': true }
        = t('.actions.new', default: 'New Credential')

  .filter.row.g-3.align-items-center
    .col-auto
      = simple_form_for '', wrapper: :floating_labels_form, method: :get, html: { role: 'search' } do |f|
        .row.g-3.align-items-center
          .col-auto
            = f.input :title_filter, label: t('.filter.title', default: 'Title'), required: false
          .col-auto
            .text-center.mb-3
              #{ t('.filter.or', default: 'or') }
          .col-auto
            = f.input :url_filter, label: t('.filter.url', default: 'URL'), as: :string, required: false
          .col-auto.mb-3
            = f.button :submit, t('.filter.search', default: 'Search'), class: 'btn-primary mt-0'

    .col-auto.ms-auto
      .paging.g-3.align-items-center
        = paginate @credentials

%section.section
  .container-fluid
    .row.justify-content-center
      .col-12
        .card-scroll-container{ data: { controller: "scroll-height", "scroll-height": { target: "scrollContainer", "elements-classes-value": '[".main-header", ".page-header", ".messages"]' } } }
          .row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-2
            - @credentials.each do |credential|
              .col
                .card.shadow-sm.h-100
                  .card-header.d-flex.justify-content-between.align-items-center
                    .d-flex.flex-column
                      - if credential.url.present? && credential.url.start_with?("http://", "https://")
                        %a.card-title.h5.mb-0{ href: credential.url, target: "_blank" }= credential.title
                      - else
                        %h5.card-title.m-0= credential.title
                        - if credential.url.present?
                          .card-subtitle.mb-2= truncate(credential.url, length: 30, separator: '/')
                    %div.btn-group
                      = link_to edit_credential_path(credential), class: 'btn btn-outline-primary btn-sm' do
                        %i.bi.bi-pencil{ 'aria-hidden': true }
                      = link_to credential, data: { turbo_method: :delete, turbo_confirm: t('.actions.confirm', default: 'Are you sure?') }, class: 'btn btn-outline-danger btn-sm', method: :delete do
                        %i.bi.bi-trash3{ 'aria-hidden': true }
                  .card-body
                    %p.card-text
                      %strong= t('.login', default: 'Login') 
                      = credential.login
                    - unless credential.secured
                      %p.card-text
                        %strong= t('.document', default: 'Password') 
                        = simple_format(credential.document)
                    - else
                      %p.card-text
                        %strong= t('.document', default: 'Password') 
                        = HVCrypto::Synchron::WRONG_PASSWORD
                    - if credential.comment.present?
                      %p.card-text
                        %strong= t('.comment', default: 'Comment') 
                        = simple_format(credential.comment)


