%h1
  = t('.header', default: 'Credentials')
  %smaller.float-right= link_to t('.actions.new', default: 'New Credential'), new_credential_path, class: 'btn btn-primary'

.filter
  = simple_form_for '', method: :get, html: { class: 'form-inline' } do |f|
    .form-group
      = f.input :title_filter, placeholder: t('.filter.title', default: 'Title'), required: false, class: 'form-control', label_html: { class: 'sr-only' }
    %span
      &nbsp;&nbsp;#{t('.filter.or', default: 'or')}&nbsp;&nbsp;
    .form-group
      = f.input :url_filter, placeholder: t('.filter.url', default: 'URL'), required: false, as: :string, class: 'form-control', label_html: { class: 'sr-only' }
    = f.button :submit, t('.filter.search', default: 'Search'), html: { class: 'btn btn-primary' }

%br

%table.table.table-striped.table-sm.table-responsive
  %thead
    %tr
      %th= t('.title', default: 'Title')
      %th= t('.url', default: 'Url')
      %th= t('.login', default: 'Login')
      %th= t('.document', default: 'Password')
      %th= t('.comment', default: 'Comment')
      %th
      %th
      %th

  %tbody
    -@credentials.each do |credential|
      %tr
        %td= credential.title
        %td= link_to truncate(credential.url, length: 30, separator: '/'), credential.url, target: :_blank
        %td= credential.login
        -unless credential.secured
          %td= simple_format(credential.document)
        -else
          %td= '***'
        %td= simple_format(credential.comment)
        %td= link_to t('.actions.edit'), edit_credential_path(credential)
        %td= link_to t('.actions.destroy', default: 'Destroy'), credential, method: :delete, data: { confirm: t('.actions.confirm', default: 'Are you sure?') }
