%h1
  = t('.header', default: 'Credentials')
  %smaller.float-end
    = link_to new_credential_path, class: 'btn btn-outline-primary', type: :button do
      %i.bi.bi-journal-plus{ 'aria-hidden': true }
      = t('.actions.new', default: 'New Credential')
.filter
  = simple_form_for '', method: :get, html: { class: 'row g-3 align-items-center', role: 'search' } do |f|
    = f.input :title_filter, placeholder: t('.filter.title', default: 'Title'), label_html: { class: 'visually-hidden' }, wrapper_html: { class: 'col-auto' }
    .text-center.mt-0.col-auto
      #{ t('.filter.or', default: 'or') }
    = f.input :url_filter, placeholder: t('.filter.url', default: 'URL'), as: :string, label_html: { class: 'visually-hidden' }, wrapper_html: { class: 'col-auto' }
    = f.button :submit, t('.filter.search', default: 'Search'), class: 'btn-primary mt-0 col-auto'

%br

%table.table.table-striped.table-sm.table-responsive
  %thead
    %tr
      %th= t('.title', default: 'Title')
      %th= t('.url', default: 'Url')
      %th= t('.login', default: 'Login')
      %th= t('.document', default: 'Password')
      %th= t('.comment', default: 'Comment')
      -if current_user.access_groups.count > 1
        %th= t('.access_group', default: 'Owner')
      %th
      %th
      %th

  %tbody
    -@credentials.each do |credential|
      %tr
        %td= credential.title
        %td= link_to truncate(credential.url, length: 30, separator: '/'), credential.url, target: :_blank
        %td= credential.login
        -unless credential.secured
          %td= simple_format(credential.document)
        -else
          %td= HVCrypto::Synchron::WRONG_PASSWORD
        %td= simple_format(credential.comment)
        -if current_user.access_groups.count > 1
          %td= credential.access_group.name
        %td
          = link_to edit_credential_path(credential), class: 'icon-link icon-link-hover' do
            %i.bi.bi-pencil{ 'aria-hidden': true }
            %span.visually-hidden= t('.actions.edit') 
        %td
          = link_to credential, data: { turbo_method: :delete, turbo_confirm: t('.actions.confirm', default: 'Are you sure?') }, class: 'icon-link icon-link-hover link-underline-danger text-danger' do
            %i.bi.bi-trash3{ 'aria-hidden': true }
            %span.visually-hidden= t('.actions.destroy', default: 'Destroy')

%br

.float-end= paginate @credentials
