-# debug assigns.inspect
%p#notice= notice

%p
  %b Title:
  = @credential.title
%p
  %b Url:
  = @credential.url
%p
  %b Login:
  = @credential.login
%p
  %b Secured:
  = @credential.secured
-unless @credential.secured
  %p
    %b Document:
    = @credential.document
%p
  %b Comment:
  = @credential.comment

= link_to 'Edit', edit_credential_path(@credential)
\|
= link_to 'Back', credentials_path
