!!!
%html{lang: "#{I18n.locale}"}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, shrink-to-fit=no'}
    %meta{name: 'description', content: "#{content_for?(:description) ? yield(:description) : 'HVKeyGuard'}"}
    %meta{'http-equiv': 'expires', content: '0'}
    %meta{'http-equiv': 'cache-control', content: 'no-cache, no-store, must-revalidate'}
    - unless "#{controller.controller_name}" == 'sessions'
      %meta{'http-equiv': 'refresh', content: "#{(User.timeout_in + 15.seconds).to_i}"}
    %title= content_for?(:title) ? yield(:title) : 'HVKeyGuard'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module'
    = csrf_meta_tags
    = csp_meta_tag
  %body{class: "#{controller.controller_name}"}
    %header.main-header
      = render 'layouts/navigation'
    %main.container{role: 'main'}
      = render 'layouts/messages'
      = yield
